<div class='navbar-navbar'>
  <img src="/assets/graffiti1.png" alt="logo" />
  {{#link-to 'index' }}Home{{/link-to}} |
  {{#link-to 'products' }}Products{{/link-to}} |
  {{#link-to 'users' }}List of Users {{/link-to}} |
  {{#link-to 'games' }}Play the Game{{/link-to}} |
  {{#link-to 'notes' }}User Notes{{/link-to}}
</div>
<div class='container'>{{outlet}}</div>
