<div class="main">
  <div class="questions">
    <h1> The Game of Life </h1>
    <h2>What city do you want to live in?</h2>
    <p>Choose 5</p>
    {{#each cities}}
      {{input value=value}}
      <p>{{value}}</p>
    {{/each}}
  <button {{action 'selectWinningCity'}}> Click Here for Your New City! </button>
  </div>
</div>
</div>
