<h1> The Game of Life </h1>
<h2>What kind of love life will you have?</h2>
<p>Choose 5, one must be something you DO NOT want</p>
<input type="text">
<input type="text">
<input type="text">
<input type="text">
<input type="text">
<h2>What kind of car will you drive?</h2>
<p>Choose 5, one must be something you DO NOT want</p>
<input type="text">
<input type="text">
<input type="text">
<input type="text">
<input type="text">
<h2>What color will it be?</h2>
<p>Choose 5, one must be something you DO NOT want</p>
<input type="text">
<input type="text">
<input type="text">
<input type="text">
<input type="text">
<h2>How many kids will you have?</h2>
<p>Choose 5, one must be something you DO NOT want</p>
<input type="text">
<input type="text">
<input type="text">
<input type="text">
<input type="text">
<h2>In what city will you live?</h2>
<p>Choose 5, one must be something you DO NOT want</p>
<input type="text">
<input type="text">
<input type="text">
<input type="text">
<input type="text">
