<h1> Welcome to The Game of Life! </h1>
<h2> How to Play </h2>
<p>This game is called The Game of Life.</p>
<p>Once upon a time, a long, long time ago all the old people from today were young.</p>
<p>And when they were young, they would dream about the day when they would be old and therefore rule the world.</p>
<p>In these dreams, they would create fun, incredible lives that could be chosen and changed on a whim.</p>
<p>One day they would be a single person driving a blue mustang around the streets of Baltimore with their 4 kids.</p>
<p>The next day they were married with no kids in a mansion in New York with a purple Toyota.</p>
<p>All of these amazing life choices were made by a game called MASH.</p>
<p>In those olden days, MASH stood for Mansion, Apartment, Shack and House.</p>
<p>And these were the only choices you were allowed for where you might end up living as an old person.</p>
<p>So, here we are.</p>
<p>As old people.</p>
<p>Reliving the carefree days of youth when realities were merely fantasies.</p>
<p>This is... The Game of Life.</p>
