<h1> List of Products </h1>
<p>We have {{content.length}} products</p>
<p>The time now is {{time}}</p>
<div>
  {{#each content}}
    <ul>
      <li>TITLE: {{title}}</li>
      <li>{{#link-to 'product' this class='btn btn-success' tagName='button'}}MORE INFO{{/link-to}}</li>
    </ul>
  {{/each}}
</div>
<div> {{outlet}} </div>
