ul
{
  list-style-type: none;
}

.border
{
  border-style: solid;
  border-width: 1px;
}

div.sidebar {
  float: left;
  width: 200px;
}

div.listing {
  float:left;
  width: 200px;
}

div.outlet {
  float:left;
  width: 200px;
}
